.table th,
.table td {
    border: 1px solid #DDD;
    padding: 1em;
}

.regions {
    border-collapse: collapse;
    width: 100%;
}

.regions caption {
    font-size: 2rem;
}

.regions caption,
.regions th,
.regions td {
    padding: 1em;
    border: 1px solid #ddd;
}

.regions td {
    text-align: right;
}

.regions tbody td:nth-child(1) {
    text-align: left;
}

.regions tbody td:nth-child(2) {
    text-align: center;
}

.regions tbody tr:nth-child(odd) {
    background-color: #eee;
}

.regions thead {
    border-bottom: 2px solid #999;
}

.regions tfoot {
    border-top: 2px solid #999;
}
