
fieldset {
    margin: 2em 0;
    font-size: 1.6rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
}

legend {
    padding: 0 1em;
    font-size: 1.8rem;
}

.field {
    display: flex;
    padding: 1em 0;
}

.field label {
    width: 30%;
    padding: 0.5em;
}

.field input {
    width: 70%;
}

.field + .field {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

input,
select,
textarea {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    font-size: 1.6rem;
    padding: 0.5em 1em;
    color: #333;
}

select,
textarea {
    width: 100%;
}

textarea {
    min-height: 10em;
}

.toolbar {
    padding: 1em 2em;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
}

.button-submit {
    padding: 1em 2em;
    font-size: 1.6rem;
    color: white;
    background-color: #DD5735;
    border: 2px solid #DD5735;
    border-radius: 0.5em;
    cursor: pointer;
}
    
.button-submit:hover {
    color: #DD5735;
    background-color: white;
}
